<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
	id="com.rjfun.cordova.plugin.easyad"
	version="1.0.0">
      
    <name>EasyAd</name>
	<description>Add AdMob/iAd support to cordova apps with minimum effort</description>
	<author>Liming Xie</author>
	<license>MIT</license>
	<keywords>ad,admob,iad</keywords>
    <repo>https://github.com/floatinghotpot/cordova-plugin-easyad.git</repo>
    <issue>https://github.com/floatinghotpot/cordova-plugin-easyad/issues</issue>

	<engines>
	    <engine name="cordova" version=">=2.9" />
	</engines>

    <js-module src="www/EasyAd.js" name="EasyAd">
        <clobbers target="window.plugins.EasyAd" />
    </js-module>

    <!-- android -->
    <platform name="android">
    	<dependency id="com.google.admobsdk-googleplay" version=">=4.4.0"/>
    	<preference name="ADMOB_ID_ANDROID"/>
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="EasyAd">
                <param name="android-package" value="com.rjfun.cordova.plugin.EasyAd"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
        	<meta-data android:name="admob_id" 
        		android:value="$ADMOB_ID_ANDROID" />
        </config-file>
        <source-file src="src/android/EasyAd.java" target-dir="src/com/rjfun/cordova/plugin" />
     </platform>
     
     <!-- ios -->
     <platform name="ios">
         <config-file target="config.xml" parent="/*">
             <feature name="EasyAd">
                 <param name="ios-package" value="CDVEasyAd" />
             </feature>
         </config-file>
         
         <header-file src="src/ios/CDVEasyAd.h" />
         <source-file src="src/ios/CDVEasyAd.m" />

 	     <framework src="AdSupport.framework" />
 	     <framework src="iAd.framework" weak="true"/>
	</platform>

  <!-- Windows Phone 8 -->
  <platform name="wp8">
    	 <dependency id="com.google.admobsdk-wp" version=">=6.5.13"/>
    <config-file target="config.xml" parent="/*">
      <feature name="EasyAd">
        <param name="wp-package" value="EasyAd"/>
      </feature>
    </config-file>
    <source-file src="src/wp8/EasyAd.cs" />
  </platform>

</plugin>
